<h3 class="mt-3 text-[3.0em] font-bold font-sans">Dernier article</h3>
<div class="flex group">
	<div class="poster w-[50%] h-[300px] bg-[#eee] rounded-md overflow-hidden">
		<a routerLink="post/{{post.slug}}/{{post.id}}"><img src="https://picsum.photos/500/300?random={{post.id}}" alt="" class="w-full h-full object-cover"></a>
	</div>
	<div class="flex w-[50%]">
		<a routerLink="post/{{post.slug}}/{{post.id}}" class="flex h-full w-full flex-col justify-center px-4 gap-y-2 ">
			<h3 class="text-2xl font-bold group-hover:text-[#387DFF]">{{ post.title }}</h3>
			<p>{{ post.description }}</p>
		</a>
	</div>
</div>
