<div class="posts flex flex-wrap mt-16 gap-[30px] mb-8 w-full">
	<app-post *ngFor="let p of posts; let random=index" [post]="p" [random]="random + 1" class="post w-[calc(calc(100%/3)-30px)]"></app-post>

	<!-- <div class="post w-[calc(calc(100%/3)-30px)]">
		<a href="#" class="group">
		  <div class="poster w-full h-[150px] bg-[#eee] overflow-hidden rounded-md">
			  <img src="https://picsum.photos/500/300?random=2" alt="" class="w-full h-full object-cover ">
		  </div>
		  <h3 class="text-md font-bold hover:text-[#387DFF] mt-2 group-hover:text-[#387DFF]">Gana Guèye: le PSG a interdit au joueur de rejoindre l'équipe nationale.</h3>
		</a>
	</div>
	<div class="post w-[calc(calc(100%/3)-30px)]">
		<a href="#" class="group">
		  <div class="poster w-full h-[150px] bg-[#eee] overflow-hidden rounded-md">
			  <img src="https://picsum.photos/500/300?random=3" alt="" class="w-full h-full object-cover ">
		  </div>
		  <h3 class="text-md font-bold hover:text-[#387DFF] mt-2 group-hover:text-[#387DFF]">Gana Guèye: le PSG a interdit au joueur de rejoindre l'équipe nationale.</h3>
		</a>
	</div>
	<div class="post w-[calc(calc(100%/3)-30px)]">
		<a href="#" class="group">
		  <div class="poster w-full h-[150px] bg-[#eee] overflow-hidden rounded-md">
			  <img src="https://picsum.photos/500/300?random=4" alt="" class="w-full h-full object-cover ">
		  </div>
		  <h3 class="text-md font-bold hover:text-[#387DFF] mt-2 group-hover:text-[#387DFF]">Gana Guèye: le PSG a interdit au joueur de rejoindre l'équipe nationale.</h3>
		</a>
	</div>
	<div class="post w-[calc(calc(100%/3)-30px)]">
		<a href="#" class="group">
		  <div class="poster w-full h-[150px] bg-[#eee] overflow-hidden rounded-md">
			  <img src="https://picsum.photos/500/300?random=5" alt="" class="w-full h-full object-cover ">
		  </div>
		  <h3 class="text-md font-bold hover:text-[#387DFF] mt-2 group-hover:text-[#387DFF]">Gana Guèye: le PSG a interdit au joueur de rejoindre l'équipe nationale.</h3>
		</a>
	</div>
	<div class="post w-[calc(calc(100%/3)-30px)]">
		<a href="#" class="group">
		  <div class="poster w-full h-[150px] bg-[#eee] overflow-hidden rounded-md">
			  <img src="https://picsum.photos/500/300?random=6" alt="" class="w-full h-full object-cover ">
		  </div>
		  <h3 class="text-md font-bold hover:text-[#387DFF] mt-2 group-hover:text-[#387DFF]">Gana Guèye: le PSG a interdit au joueur de rejoindre l'équipe nationale.</h3>
		</a>
	</div> -->
</div>
